#boton{
    color:#0838c6;
    font-size: medium;
    border-color:#003787;
    border-radius: 5px;
    cursor: pointer;
    
}
h1{
    font-style: initial;
    font-weight: 900;
    color:#003787

}
#search{
    color:#0838c6;
    font-size: medium;
    border: solid;
    border-color:#003787;
    border-radius: 5px;
    cursor: pointer;
}

#delete{
    color:#0838c6;
    font-size: medium;
    border: solid;
    border-color:#003787;
    border-radius: 5px;
    cursor: pointer;
}

